body {
    background-color: #fc4f5f;
    font-family: "Montserrat",sans-serif;
    
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header {
    text-align: center;
    
}



.header ButtonGroup {
    margin-bottom: 10px;
}

.paper {
    height: 600px;
    min-width: 99vw;
    padding-top: 10px;
    border: solid;
    border-color: #ffffff;
    background-color: #011929;
    overflow-x: auto;
}

.itemText {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
}

.logo{
    width:100px;
    height:43px;
    display: inline;
}

.searchForm{
    margin-bottom:2px;
}

.view {
    display: inline;
}

#outlined-basic{
    background-color:aliceblue
}